$colors-dark: (
    background: (
        '300': hsl(220 4% 5%),
        '400': hsl(220 4% 9%),
        '500': hsl(220 4% 14%),
        '600': hsl(220 4% 18%),
    ),

    highlight: (
        '400': hsl(14 94% 49% / 0.26),
    ),

    hover: (
        '400': hsl(0 0% 50% / 0.5)
    ),
    
    text: (
        '400': white,
        'muted': hsl(0 0% 76%)
    ),

    primary: (
        '400': hsl(219 76% 30%),
        '500': hsl(219 76% 36%),
        '600': hsl(219 76% 46%),
    ),

    link: (
        '400': hsl(212 100% 67%),
    ),

    patreon: (
        '400': #f96854,
    ),

    coffee: (
        '400': hsl(15 100% 58%),
        'less-opaque': hsl(15 100% 58% / 0.26),
        'more-opaque': hsl(15 100% 58% / 0.62),
    ),
    
    secondary: (
        '400': hsl(219 76% 60%),
    ),

    table: (
        'green': rgba(7 208 30 / 0.26),
        'green-text': rgba(7 208 30),
        'red': rgba(201 0 10 / 0.26),
        'red-text': hsl(0 100% 49%)
    ),

    input: (
        'border': hsl(220 97% 35%),
        'shadow': hsl(220 97% 45% / 0.36)
    )
);

$colors-light: (
    background: (
        '300': hsl(220 4% 5%),
        '400': hsl(220 4% 9%),
        '500': hsl(220 4% 14%),
        '600': hsl(220 4% 18%),
    ),

    highlight: (
        '400': hsl(14 94% 49% / 0.26),
    ),

    hover: (
        '400': hsl(0 0% 50% / 0.5)
    ),
    
    text: (
        '400': white,
        'muted': hsl(0 0% 76%)
    ),

    primary: (
        '400': hsl(219 76% 30%),
        '500': hsl(219 76% 36%),
        '600': hsl(219 76% 46%),
    ),

    link: (
        '400': hsl(212 100% 67%),
    ),

    patreon: (
        '400': #f96854,
    ),

    coffee: (
        '400': hsl(15 100% 58%),
        'less-opaque': hsl(15 100% 58% / 0.26),
        'more-opaque': hsl(15 100% 58% / 0.62),
    ),
    
    secondary: (
        '400': hsl(219 76% 60%),
    ),

    table: (
        'green': rgba(7 208 30 / 0.26),
        'green-text': rgba(7 208 30),
        'red': rgba(201 0 10 / 0.26),
        'red-text': hsl(0 100% 49%)
    ),

    input: (
        'border': hsl(220 97% 35%),
        'shadow': hsl(220 97% 45% / 0.36)
    )
);

$active-theme: $colors-dark;