@use '../../abstracts/' as *;

.home {
    grid-template-columns: $grid-home;
    grid-template-areas: $grid-home-areas;
    
    .home-controls {
        grid-area: _controls;
    }

    #object-table-1 {
        grid-area: _tableOne;
    }

    #object-table-2 {
        grid-area: _tableTwo;
    }
}
