$operator-keys: (
    align-items, align-content, justify-content, justify-items, justify-self, align-self,
    place-items, place-content
);

$operator-values: start, end, center, space-evenly, space-between;

@each $op in $operator-keys {
    @each $op-val in $operator-values {
        .#{$op}-#{$op-val} {
            #{$op}: #{$op-val}
        }
    }
}

$box-models: flex-direction;
$box-values: column, row;

@each $box-model in $box-models {
    @each $val in $box-values {
        .#{$box-model}-#{$val} {
            #{$box-model}: #{$val};
        }
    }
}

.flex-wrap {
    flex-wrap: wrap;
}