@use '../abstracts/' as *;

.main-container {
    max-width: $size-main-container;
    margin-inline: auto;
}

@media screen and (max-width: $breakpoint-small) {
    .main-container {
        margin: 0.5em;
    }
}