@use '../abstracts/' as *;

@mixin create-button (
    $padding: $default-button-spacing, 
    $bg: $clr-default-button, 
    $clr-border: $clr-default-button-border
) {

    font-size: var(--fs-400);
    
    padding: $padding;
    background-color: $bg;

    border: 2px solid;
    border-color: $clr-border;

    cursor: pointer;
}

@mixin create-input (
    $padding: $default-input-spacing, 
    $bg: $clr-default-input, 
    $border-hover: $clr-default-input-border-hover,
    $border-radius: $default-input-radius
) {
    font-size: var(--fs-450);
    
    padding: $padding;
    background-color: $bg;

    border: 2px solid;
    border-color: $clr-default-button-border;
    border-radius: $default-input-radius;

    &:is(:hover, :focus) {
        border-color: $clr-default-input-border-hover;
    }
}

@mixin diagonal-border($dir) {
    @if $dir == ltr {
        border-top-left-radius: $table-thead-border-radius;
        border-bottom-left-radius: $table-thead-border-radius;
    }

    @else if $dir == rtl {
        border-top-right-radius: $table-thead-border-radius;
        border-bottom-right-radius: $table-thead-border-radius;
    }
}