$base-fs-size: 1rem;

$font-sizes: (
    '200': $base-fs-size * 0.5,
    '300': $base-fs-size * 0.75,
    '400': $base-fs-size,
    '500': $base-fs-size * 1.25,
    '600': $base-fs-size * 1.5,
    '700': $base-fs-size * 1.75,
    '800': $base-fs-size * 2 
);

@each $fs, $val in $font-sizes {
    .fs-#{$fs} {
        font-size: var(--fs-#{$fs});
    }
}