@use './_colors.scss' as *;

// Navbar
$clr-navbar: var(--clr-background-600);

// Containers
$size-main-container: var(--size-container-main);

// Home
$home-grid: var(--grid-home);

// Button
$clr-default-button: var(--clr-background-300);
$clr-default-button-hover: var(--clr-background-500);
$clr-default-button-border: var(--clr-hover-400);
$default-button-spacing: 0.75em;

// Input 
$clr-default-input: var(--clr-background-300);
$clr-default-input-border-hover: blue;
$clr-default-button-border: var(--clr-hover-400);
$default-input-spacing: 0.25em 0.6em;
$default-input-radius: 8px;

// Object Table
$table-thead-spacing: 0.4em;

$clr-table-thead: var(--clr-background-600);
$clr-table-row: white;
$clr-table-pct-green: var(--clr-table-green);
$clr-table-pct-green-text: var(--clr-table-green-text);
$clr-table-pct-red: var(--clr-table-red);
$clr-table-pct-red-text: var(--clr-table-red-text);

$table-thead-border-radius: 9px;

// After content
$after-content-font-size: var(--fs-300);
$clr-after-content: var(--clr-primary-600);
$after-content-spacing: 0.25em 0.5em;
$after-content-border-radius: 100vw;