@use '../mixins' as *;
@use '../../abstracts/' as *;

.button {
    @include create-button();

    &:is(:hover, :focus) {
        background-color: $clr-default-button-hover;
    }

    &.has-link {
        padding: 0 !important;
    
        > a {
            display: inline-block;
    
            padding: $default-button-spacing;
        }
    }
}


.button[data-variant='primary'] {
    @include create-button(
        $bg: var(--clr-primary-600),
        $clr-border: var(--clr-primary-600)
    );

    &:is(:hover, :focus) {
        filter: brightness(1.05);
    }
}

.button[data-variant='button-link'] {
    @include create-button(
        $bg: var(--clr-primary-600),
        $clr-border: var(--clr-primary-600)
    );

    &:is(:hover, :focus) {
        filter: brightness(1.05);
    }
}

.button[data-variant='neon'] {
    @include create-button(
        $bg: var(--clr-background-300),
        $clr-border: var(--clr-primary-500)
    );
}

.button[data-secondary-variant='tight'],
.button.has-link > a {
    padding: $button-default-tight-spacing;
}

.button[data-work-condition='false'] {
    opacity: 0.5;
    pointer-events: none;
}