@use '../mixins' as *;
@use '../../abstracts/' as *;

.input {
    @include create-input();

    &:is(:hover, :focus) {
        box-shadow: $shadow-default-input;
    }
}

.input-checkbox {
    .checkbox__icon {
        border: 2px solid $clr-input-checkbox;
        padding: $input-checkbox-spacing;
    }

    .checkbox__icon[data-variant='true'] {
        background-color: $clr-input-checkbox;
    }
}